In [2]:
# Q.1
import pandas as pd
# 1. read
df = pd.read_csv('customers-100.csv')

In [3]:
# 2. head
df.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [4]:
# 3. tail
df.tail()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [5]:
# 4. dtypes
df.dtypes

Index                 int64
Customer Id          object
First Name           object
Last Name            object
Company              object
City                 object
Country              object
Phone 1              object
Phone 2              object
Email                object
Subscription Date    object
Website              object
dtype: object

In [6]:
# 5. describe
df.describe()

            Index
count  100.000000
mean    50.500000
std     29.011492
min      1.000000
25%     25.750000
50%     50.500000
75%     75.250000
max    100.000000

In [7]:
# Q.2 
import pandas as pd

def reindex_dataframe(df):
    # Create a new index starting from 1 and incrementing by 2
    new_index = range(1, 2 * len(df) + 1, 2)
    # Assign the new index to the DataFrame
    df.index = new_index
    return df

# Example usage:
data = {'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

df_reindexed = reindex_dataframe(df)
print("\nRe-indexed DataFrame:")
print(df_reindexed)

Original DataFrame:
    A   B   C
0  10  40  70
1  20  50  80
2  30  60  90

Re-indexed DataFrame:
    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

In [33]:
# Q.3
import pandas as pd

def sum_first_three_values(df):
    # Ensure there are at least three values in the 'Values' column
    if len(df['Values']) < 3:
        print("Not enough values in the 'Values' column.")
        return
    
    # Calculate the sum of the first three values
    sum_values = df['Values'].iloc[:3].sum()
    
    # Print the sum
    print("Sum of the first three values:", sum_values)

# Example usage
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_first_three_values(df)

Sum of the first three values: 60

In [4]:
# Q.4
import pandas as pd

def add_word_count_column(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

# Example usage:
df = pd.DataFrame({'Text': ['Hello world', 'Pandas is great', 'Python programming']})
df = add_word_count_column(df)
print(df)

                 Text  Word_Count
0         Hello world           2
1     Pandas is great           3
2  Python programming           2

In [1]:
# Q.5
# DataFrame.size() tell us about the total amounnt of data cells presenet 
# by multiplying the number of rows and columns.

# DataFrame.shape() tell the total number of rows and columns present in the
# Data frame the output is presented in this format (rows, columns)

In [3]:
# Q.6 
import pandas as pd

pd.read_excel('Assignment 20.xlsx')

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [10]:
# Q.7
df1 = pd.DataFrame({'Email' : ['john.doe@gmail.com','shiv@gmail.com','Rohil1@gmail.com','pranav@gmail.com']})

In [11]:
df1['Username'] = df1['Email'].str.split('@').str[0]

In [12]:
df1

                Email  Username
0  john.doe@gmail.com  john.doe
1      shiv@gmail.com      shiv
2    Rohil1@gmail.com    Rohil1
3    pranav@gmail.com    pranav

In [29]:
# Q.8
def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Example usage:
data = {'A': [3, 6, 8, 2, 7], 'B': [9, 5, 11, 8, 7], 'C': [1, 2, 3, 4, 5]}
df = pd.DataFrame(data)
filtered_df = select_rows(df)
print(filtered_df)

   A  B  C
1  6  5  2
4  7  7  5

In [51]:
# Q.9
import pandas as pd

def calculate_statistics(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_deviation = df['Values'].std()
    
    return mean_value, median_value, std_deviation

 #Example usage:
df = pd.DataFrame({'Values': [1, 2, 3, 4, 5]})
mean, median, std_dev = calculate_statistics(df)
print(f"Mean: {mean}, Median: {median}, Standard Deviation: {std_dev}")

Mean: 3.0, Median: 3.0, Standard Deviation: 1.5811388300841898

In [5]:
#Q.10
import pandas as pd

def add_moving_average(df):
    # Ensure the 'Date' column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Sort the DataFrame by date
    df = df.sort_values('Date')
    
    # Calculate the moving average with a window of 7 days
    df['MovingAverage'] = df['Sales'].rolling(window=7,min_periods=1).mean()
    
    return df

# Example usage
data = {
    'Date': ['2024-08-01', '2024-08-02', '2024-08-03', '2024-08-04', '2024-08-05', '2024-08-06', '2024-08-07', '2024-08-08'],
    'Sales': [100, 150, 200, 250, 300, 350, 400, 450]
}
df = pd.DataFrame(data)
df = add_moving_average(df)
print(df)

        Date  Sales  MovingAverage
0 2024-08-01    100          100.0
1 2024-08-02    150          125.0
2 2024-08-03    200          150.0
3 2024-08-04    250          175.0
4 2024-08-05    300          200.0
5 2024-08-06    350          225.0
6 2024-08-07    400          250.0
7 2024-08-08    450          300.0

In [6]:
# Q.11

def add_weekday_column(df):
    # Ensure the 'Date' column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    # Create a new column 'Weekday' with the weekday name
    df['Weekday'] = df['Date'].dt.day_name()
    return df

# Example usage:
df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
})
df = add_weekday_column(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [9]:
#Q.12

def select_rows_between_dates(df):
    # Ensure the 'Date' column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    # Define the start and end dates
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    # Select rows where the 'Date' is between the start and end dates
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    filtered_df = df.loc[mask]
    return filtered_df

# Example usage:
df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-15', '2023-02-01', '2023-01-20', '2023-01-31'],
    'Value': [10, 20, 30, 40, 50]
})
filtered_df = select_rows_between_dates(df)
print(filtered_df)

        Date  Value
0 2023-01-01     10
1 2023-01-15     20
3 2023-01-20     40
4 2023-01-31     50

In [10]:
# Q.13
import pandas as pd